*{
	padding: 0;
	margin: 0;
	font-family: 微软雅黑;
	font-weight: bold;
}
body{
	width: 100%;
	height: 100%;
	background: url(../image/cxdp20.png)no-repeat;
}
.innerdiv{
	position: absolute;
}

#xinhao{
	left: 670px;
	top: 47px;
	color: #fff;
	font-size: 30px;
	font-family: "Microsoft YaHei UI";
	font-weight: bold;
}

#riqi{
	right: 67px;
	top: 35px;
	color: #fff;
	font-size: 35px;
	font-weight: bold;
}

#item1{
	left: 400px;
	top:180px;
	color: #0093dd;
}

#item2{
	left: 1500px;
	top:180px;
	color: #0093dd;
}

#item3{
	left: 400px;
	top:630px;
	color: #18cb49;
}

#item1_1{
	left: 162px;
	top: 238px;
	font-size: 18.1px;
}

#item1_2{
	left: 162px;
	top: 265px;
	font-size: 18.1px;
}
#item1_3{
	left: 483px;
	top: 209px;
	font-size: 18px;;
}

#item1_4{
	left: 610px;
	top: 209px;
	font-size: 18px;;
}

#item1_5{
	left: 483px;
	top: 238px;
	font-size: 18px;
}

#item1_6{
	left: 610px;
	top: 238px;
	font-size: 18px;;
}

#item1_7{
	left: 12px;
	top: 381px;
	font-size: 18px;
	color: #fff;
	width: 100px;
	height: 30px;
	text-align: center;
}


#item2_1{
	left: 1237px;
	top: 238px;
	font-size: 18.1px;
}

#item2_2{
	left: 1237px;
	top: 265px;
	font-size: 18.1px;
}
#item2_3{
	left: 1582px;
	top:209px;;
	font-size: 18.1px;
}

#item2_4{;
	left: 1710px;
	top:209px;;
	font-size: 18.1px;
}

#item2_5{
	left: 1582px;
	top:238px;
	font-size: 18.1px;
}

#item2_6{
	left:1710px;
	top:238px;
	font-size: 18.1px;
}

#item2_7{
	left:1091px;
	top: 381px;
	font-size: 18px;
	color: #fff;
	width: 100px;
	height: 30px;
	text-align: center;
}


#item3_1{
	left:162px;
	top:690px;
	font-size: 18.1px;
	color: #0093dd;
}

#item3_2{
	left:162px;
	top:716px;
	font-size: 18.1px;
	color: #0093dd;
}
#item3_3{
	left: 483px;
	top:658px;
	font-size: 18.1px;
}

#item3_4{
	left:610px;
	top:658px;
	font-size: 18.1px;
}
#item3_5{
	left:483px;
	top:687px;
	font-size: 18.1px;
}

#item3_6{
	left:610px;
	top:687px;
	font-size: 18.1px;
}
.nav{
	width: 100px;
	height: 30px;
	text-align: center;
}
/*状态栏*/
#statebox1,#statebox2,#statebox3{
	position: relative;
	width: auto;
	height: 9px;
}
#statebox1{
	left: 154px;
	top: 477px;
	width: 900px;
}
#statebox1 .state{margin-right: 56px}
#statebox2{
	left:1250px;
	top: 469px;
	width: 630px;
}
#statebox2 .state{margin-right:60px}
#statebox3{
	width: 1760px;
	left: 126px;
	top: 898px;
}
#statebox3 .state{margin-right:70px}
.state{
	width: 70px;
	height: 9px;
	background-color: #37a0e7;
	float: left;
	margin: 0 5px 0 0;
}
.red{background-color: #ff0000}
.yellow{background-color: #ffff00}
.gray{background-color:#d1d9e2}
.hide{display: none}